#canvas-container-container{
    background-color: grey;
    width: 820px;
    height: 820px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: grey;
    width: 800px;
    height: 800px;
}

.square {
    background-color:cornsilk;
}